/* Geral */
body {
    background-color: #f0f4f8; /* Fundo claro e neutro */
    font-family: 'Arial', sans-serif;
    color: #2c3e50; /* Texto escuro para boa legibilidade */
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Garante que o body tenha pelo menos a altura da tela */
    display: flex;
    flex-direction: column;
    line-height: 1.6; /* Melhor legibilidade */
}

header {
    height: fit-content;
    display: flex;
    color: #ffffff;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    padding: 10px;
    margin: 0;
    color: #34495e; /* Azul escuro */
    font-size: 1em;
}
header a{
    color: #34495e; /* Azul escuro */
    font-size: 1em;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}

header a:hover{
    color: #1abc9c;
}


.vagasdiv {
    margin-top: 20px;
    padding: 20px;
}

/* Estilo das vagas */
.model {
    flex: 1;
    margin-right: 20px; /* Espaço entre a descrição da vaga e os ícones */  
    background-color: #ffffff; /* Fundo branco para os cards */
    border: 1px solid #ddd; /* Borda cinza suave */
    border-radius: 10px; /* Cantos arredondados */
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}


.model:hover {
    transform: translateY(-4px); /* Leve movimento para cima */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.box {
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.title_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.model h2 {
    margin: 0;
    font-size: 1.65em; /* Aumentado para mais destaque */
    color: #34495e; /* Azul escuro para títulos */
    text-align: left;
}

.model p {
    color: #555; /* Texto suave */
    margin-bottom: 10px;
    line-height: 1.0; /* Aumenta o espaçamento entre linhas */
}

.model span {
    display: block;
    margin-top: 5px;
    color: #888; /* Texto de menor importância */
}

.model a {
    text-decoration: none;
    color: #34495e; /* Azul escuro para links */
    font-weight: bold;
    border-bottom: 1px solid transparent; /* Adiciona efeito ao hover */
    transition: border-color 0.3s, color 0.3s;
}

.model a:hover {
    color: #1abc9c; /* Verde suave para links ao passar o mouse */
    border-bottom: 1px solid #34495e; /* Efeito ao passar o mouse */
}

/* Estilos para a barra de pesquisa */
.search-bar {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Aumenta o espaço vertical */
    
}

.search-bar form {
    display: flex;
    width: 100%;
}

.search-bar input[type="text"] {
    flex: 1; /* Isso faz o campo de entrada ocupar o espaço disponível */
    padding: 12px;
    font-size: 1.1em; /* Aumentado para melhor legibilidade */
    border: 1px solid #ddd; /* Borda cinza suave */
    border-radius: 20px 0 0 20px; /* Cantos arredondados apenas no lado esquerdo */
    border-right: none; /* Remove a borda direita para o botão se alinhar ao input */
    transition: border-color 0.3s;
}

.search-bar input[type="text"]:focus {
    border-color: #1abc9c; /* Borda verde ao focar */
    outline: none; /* Remove o contorno padrão */
}

.search-bar button {
    padding: 12px 20px;
    font-size: 1.1em; /* Aumentado para melhor legibilidade */
    border: none;
    background-color: #2980b9; /* Azul moderado */
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0; /* Cantos arredondados apenas no lado direito */
    transition: background-color 0.3s, transform 0.2s;
}

.search-bar button:hover {
    background-color: #1f639b; /* Azul escuro ao passar o mouse */
    transform: translateY(-2px); /* Leve movimento para cima no hover */
}

/* Mensagem de "sem vagas" */
.semVagas {
    color: #fff; /* Cor do texto */
    background-color: #f44336; /* Cor de fundo (vermelho) */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    margin-top: 20px; /* Margem superior */
    text-align: center; /* Centraliza o texto */
}

.jobtypes{
    text-align: center;
    margin: 0 auto;
    width: 70%;
    margin-top: 30px;
}
.jobtypes a{
    background-color: #ffffff;
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #2c3e50;
    gap: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .model {
        width: 90%; /* Ocupar toda a largura */
        padding: 10px; /* Ajustado para menos padding em telas pequenas */
        margin: 10px 0; /* Espaço entre os itens na vertical */
    }

    .box {
        width: 95%; /* Reduzir a largura */
        flex-direction: column; /* Colocar os itens em coluna */
        align-items: center; /* Centralizar os elementos */
        padding: 15px; /* Espaçamento interno para melhor visualização */
    }

    .title_date {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px; /* Espaço entre título e data */
    }

    .search-bar {
        width: 90%; /* Reduzir a largura */
        margin: 10px auto; /* Centralizar a barra de pesquisa */
        
    }

    .search-bar form {
        display: flex; /* Manter o layout em flex para os elementos filhos */
        justify-content: space-between; /* Espaçar os elementos */
    }

    .search-bar input[type="text"] {
        width: 70%; /* Ocupa 70% para o campo de busca */
        border-radius: 5px; /* Ajustar bordas para uma aparência mais leve */
        padding: 8px; /* Adicionar padding para conforto */
    }

    .search-bar button {
        width: 25%; /* Ocupa 25% para o botão de busca */
        border-radius: 5px; /* Ajustar bordas */
        padding: 8px; /* Adicionar padding */
        font-size: 17px;
    }

    .jobtypes {
        width: 100%; /* Ocupar toda a largura */
    }

    .jobtypes a {
        margin-left: 0px;
        gap: 3px;
        font-size: 10px;
    }


    .compartilhar {
        justify-content: center; /* Centralizar os ícones em telas menores */
        margin-top: 15px; /* Mais espaço em cima em telas menores */
    }

    .share-icon {
        width: 15px; /* Reduzir o tamanho dos ícones em telas menores */
        height: 15px;
    }

}

@media screen and (max-width: 480px) {
    .model {
        width: 90%; /* Ocupar quase toda a largura */
        padding: 8px; /* Ajuste adicional */
    }

    .search-bar {
        width: 95%; /* Barra de busca ocupa toda a largura */
        margin: 5px auto; /* Reduzir o espaço superior/inferior */
    }

    .search-bar input[type="text"] {
        width: 80%; /* Ajusta o campo de busca para dispositivos menores */
    }

    .search-bar button {
        font-size: 10px;
        width: 18%; /* Ajusta o botão para dispositivos menores */
    }

    .title_date {
        gap: 4px; /* Reduz o espaço entre título e data */
    }

    .jobtypes {
        width: 100%; /* Alinhar aos dispositivos menores */
    }
    .jobtypes a {
        margin-left: 0px;
        gap: 3px;
        font-size: 10px;
    }



    .compartilhar {
        flex-direction: row; /* Manter os ícones em linha */
        justify-content: space-between; /* Espaçar os ícones */
    }

    .share-icon {
        width: 20x;
        height: 20px; /* Tamanho ainda menor em dispositivos muito pequenos */
    }

}
